{{- $git_email := env "GIT_EMAIL" -}}
{{- if eq $git_email "" -}}
  {{- $git_email = promptStringOnce . "git_email" "What is your git email address" -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

## isContainer detection
{{ $isContainer := false }}

{{- if eq .chezmoi.os "linux" -}}
  {{- $env := env "container" -}}
  {{- $isContainer = or
    (stat "/.dockerenv")
    (contains $env "docker")
    (contains $env "podman")
    (contains $env "lxc")
  -}}
{{- end -}}

[data]
  osid = {{ $osid | quote }}
  isContainer = {{ if $isContainer }}true{{ else }}false{{ end }}

[data.git]
  email = {{ $git_email | quote }}
  name = "Nicolas COCHIN"
