{{- $git_email := promptStringOnce . "git_email" "What is your git email address" -}}


{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}



[data]
  osid = {{ $osid | quote }}

[data.git]
  email = {{ $git_email | quote }}
  name = "Nicolas COCHIN"
