{{- $git_email := promptStringOnce . "git_email" "What is your git email address" -}}


{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


[data]
  osid = {{ $osid | quote }}
  is_distrobox = {{ if ne (env "DISTROBOX_ENTER_PATH") "" }} true {{ else }} false {{end}}

[data.git]
  email = {{ $git_email | quote }}
  name = "Nicolas COCHIN"
