#!/bin/bash

{{ $key := index .install .osid | default nil }}
{{ if not $key }}
  echo "No packages defined for {{ .osid }}"
  echo "Exiting..."
{{ else }}

  PACKAGES_TO_INSTALL=()
  INSTALL_CMD="{{ index $key "install_cmd" }}"
  TEST_CMD="{{ index $key "test_cmd" }}"

  {{ $packages := index $key "packages" }}
  {{ range $packages }}
    PACKAGE={{ . }}
    ! $TEST_CMD $PACKAGE > /dev/null 2>&1  && PACKAGES_TO_INSTALL+=($PACKAGE)
  {{ end }}


  if [[ ${#PACKAGES_TO_INSTALL[@]} != 0 ]]; then 
    echo "Install packages: ${PACKAGES_TO_INSTALL[@]}"
    eval "$INSTALL_CMD ${PACKAGES_TO_INSTALL[@]}"
  fi
{{ end }}
