#[r2]
#type = s3
#acl = private
#provider = Cloudflare
#access_key_id = {{- protonPass "pass://8XvQjIoqdBsAxJMTK8X1B5JMr3T_xxezljZuIw3c1CIN_9WF4T5pqUJ3WweUI_qSpx4VY6OSUA23nmKjkTqd9w==/nwh7tozDmypYbHTqoTVZza3MHSrlfSoe-C-xIWqQ-ay3B6rvPLpCbWTgAuGDoeW7Du-I55usa1DHwinnvAl7Bg==/AccessKey Id" -}}
#secret_access_key = {{- protonPass "pass://8XvQjIoqdBsAxJMTK8X1B5JMr3T_xxezljZuIw3c1CIN_9WF4T5pqUJ3WweUI_qSpx4VY6OSUA23nmKjkTqd9w==/nwh7tozDmypYbHTqoTVZza3MHSrlfSoe-C-xIWqQ-ay3B6rvPLpCbWTgAuGDoeW7Du-I55usa1DHwinnvAl7Bg==/Secret AccessKey Id" -}}
#endpoint = {{- protonPass "pass://8XvQjIoqdBsAxJMTK8X1B5JMr3T_xxezljZuIw3c1CIN_9WF4T5pqUJ3WweUI_qSpx4VY6OSUA23nmKjkTqd9w==/nwh7tozDmypYbHTqoTVZza3MHSrlfSoe-C-xIWqQ-ay3B6rvPLpCbWTgAuGDoeW7Du-I55usa1DHwinnvAl7Bg==/Endpoint" -}}

[r2data2]
type = sftp
host = r2data2
user = Nico
key_file = ~/.ssh/id_ed25519
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum

[pcloud]
type = pcloud
hostname = eapi.pcloud.com
token = {"access_token":"{{- protonPass "pass://5JSXHBedw044y6m52pz5llkHhZethqoR7vIYt2iZh47vFpICTKiZ7SyfYgZugpLXCLxScBdHG9LpfkUKTAegGw==/iNhJxo4GBupRHo4oBjHIxj6hVjgqrQ-JDnvDAwmUMOYaeqKvmJcuf5CeU6UTHPV54J0esT9Gbi1cjCs2sIzDMg==/AccessToken" | trim -}}","token_type":"bearer","expiry":"0001-01-01T00:00:00Z"}

[cloud]
type = sftp
host = cloud
user = nico
key_file = ~/.ssh/id_ed25519
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum

[icloud]
type = iclouddrive
apple_id = {{- protonPass "pass://5JSXHBedw044y6m52pz5llkHhZethqoR7vIYt2iZh47vFpICTKiZ7SyfYgZugpLXCLxScBdHG9LpfkUKTAegGw==/TkjytA2_Wr0iSo_SDCebHDHtBZdlrUeaxpzD0WN_pl661QIDolWQt8w4LFohhjwLg9x3duOiBL6dKZxNNEtVEw==/Email" -}}
password = {{- protonPass "pass://5JSXHBedw044y6m52pz5llkHhZethqoR7vIYt2iZh47vFpICTKiZ7SyfYgZugpLXCLxScBdHG9LpfkUKTAegGw==/TkjytA2_Wr0iSo_SDCebHDHtBZdlrUeaxpzD0WN_pl661QIDolWQt8w4LFohhjwLg9x3duOiBL6dKZxNNEtVEw==/Password" -}}
